div.container {
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1.08em;
  font-style: italic;
}

h2:first-of-type ~ h2 {
  text-transform: uppercase;
}

ul {
  list-style: square;
}

a {
  text-decoration: none;
}
