header {
  margin-top: 2em;
}
h1 {
  font-size: 1.75em;
  /* font-weight: bold; */
}
h2 {
  font-size: 1.25em;
  /* font-weight: bold; */
}

section h2 {
  text-transform: uppercase;
}

.experience h3 {
  font-size: 1.25em;
}

.experience h4 {
  font-size: 1.25em;
  font-weight: normal;
}

.experience h5 {
  font-size: 1em;
  font-style:italic;
}